<div class="contenedor">
  <div class="card">
    <h2 class="card-header">Notas de la Version 1.3 : Sistema de Clientes</h2>
    <div class="card-body">
      <h3 class="card-title">Actualizacion</h3>
      <p class="card-text">Se Imprementaron nuevos componentes y añadimos mejoras</p>
      <ul>
        <li>Se mejoro el Login</li>
        <li>Correccion del error al recargar la pagina principal</li>
      </ul>
      <ul>
        <li>Se mejoro el diseño del login, se opto por un diseño minimalista</li>
      </ul>
      <ul>
        <li>Registrar Usuario ya no es posible por medio de la aplicacion, esto se hizo con el fin de que la aplicacion sea mas segura para la empresa, si se desea crear un nuevo usuario, acudir con el programador designado a la base de datos</li>
      </ul>

      <h3 class="card-title">Otras Caracteristicas</h3>
      <ul>
        <li>Errores de rutas</li>
        <li>Se corrigio el error en el cual las rutas no estaban siendo invocadas correctamente</li>
      </ul>
      <ul>
        <li>Error al Iniciar Sesion</li>
        <li>Se corrigio el error en el cual no se motraba correctamente el inicio de sesion y no se guardaba el token que generaba el usuario logueado</li> 
      </ul>
      <ul>
        <li>Barra de navegacion Actualizada, se mejoro bastante la calidad de la barra de navegacion y la diseñamos para que sea amigable con el usuario</li>
      </ul>
      <p class="card-text"><small class="text-muted">Utima Actualizacion 26/12/2022</small></p>
    </div>
    <img src="../../../assets/code.png" class="card-img-bottom" alt="Codigo">
  </div>
  <footer><p class="copyright">Todos los derechos Reservados {{Fecha}} &copy;</p></footer>
</div>

