<div class="contenedor">
  <div class="card">
    <h2 class="card-header">Notas de la Version 1.3 : Sistema de Clientes</h2>
    <div class="card-body">
      <h5 class="card-title">Actualizacion</h5>
      <p class="card-text">Se Imprementaron nuevos componentes y añadimos mejoras</p>
      <ul>
        <li>Login</li>
      </ul>
      <ul>
        <li>Logout</li>
      </ul>

      <ul>
        <li>Registrar Usuario</li>
      </ul>
      <ul>
        <li>Pedidos</li>
      </ul>
      <ul>
        <li>Lista de Pedidos</li>
      </ul>
      <h5 class="card-title">Correccion de Errores</h5>
      <ul>
        <li>Errores de rutas</li>
        <p class="card-text">Se corrigio el error en el cual las rutas no estaban siendo invocadas correctamente</p>
      </ul>
      <ul>
        <li>Error al Iniciar Sesion</li>
        <p class="card-text">Se corrigio el error en el cual no se motraba correctamente el inicio de sesion y no se guardaba el token que generaba el usuario logueado</p>
      </ul>
      <h5 class="card-title">Proximas Actualizaciones</h5>
      <ul>
        <li>Barra de Navegacion</li>
        <p class="card-text">Se planea Mejorar La barra de navegacion para que sea mas Amigable con el cliente</p>
      </ul>
      <p class="card-text"><small class="text-muted">Last updated 5 hours ago</small></p>
    </div>
    <img src="../../../assets/code.png" class="card-img-bottom" alt="Codigo">
  </div>
  <footer><p class="copyright">Todos los derechos Reservados 2023 &copy;</p></footer>
</div>

