<div class="contenedor">
  <table>
    <tr>
      <td><input [(ngModel)]="filtro" class="form-control input-editar" placeholder="Buscar por Nombre" (keypress)="validarTecla($event)"></td>
      <td><button class="btn btn-dark btn-lg" (click)="Filtrar()" >Filtrar</button></td>
    </tr>
  </table>
  <div class="card border-primary">
      <div class="card-header">
        Clientes  
      </div>
      <div class="card-body">
          <table class="table table-striped">
              <thead class="table-dark">
                <tr>
                  <th scope="col">ID</th>
                  <th scope="col">Nombre</th>
                  <th scope="col">Direccion</th>
                  <th scope="col">RFC</th>
                  <th scope="col">Correo Electronico</th>
                  <th scope="col">Telefono</th>
                </tr>
              </thead>
              <tbody *ngIf="ocultar" class="table-group-divider">
                <tr *ngFor="let e of Entidad">
                  <th scope="row">{{e.Id}}</th>
                  <td>{{e.Nombre}}</td>
                  <td>{{e.Direccion}}</td>
                  <td>{{e.RFC}}</td>
                  <td>{{e.Correo}}</td>
                  <td>{{e.Telefono}}</td>
                  
                </tr>
              </tbody>
  
              <tbody *ngIf="ocultar2" class="table-group-divider">
                <tr *ngFor="let e of data">
                  <th scope="row">{{e.Id}}</th>
                  <td>{{e.Nombre}}</td>
                  <td>{{e.Direccion}}</td>
                  <td>{{e.RFC}}</td>
                  <td>{{e.Correo}}</td>
                  <td>{{e.Telefono}}</td>
                  
                </tr>
              </tbody>
            </table>
            
      </div>
    </div>
  
</div>
