
/* Centrar Login */

.contenedor{
    max-width: 120rem;
    width: 50%;
    margin: 0 auto;
}
.contenedor-flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.copyright{
    text-align: center;
}