


<div class="header-principal">
  <nav class="contenedor header">
        <div class="navegacion">
          <ul>
            <li>
              <a  [routerLink] = "'/Home/'" >Inicio</a>
            </li>
          </ul>

          <ul class="navegacion-opciones" *ngIf="EstaLog()">
            <li >
              <a id="a-click" class="dropdown-item nav-link"  [routerLink] = "'/Cliente/'"><li class="fas-fa-money-check-alt">Cliente</li></a>
            </li>
            <li class="nav-item">
              <a class="dropdown-item nav-link" [routerLink] = "'/ListaCliente/'"><li class="fas-fa-money-check-alt">Lista de Cliente</li></a>
            </li>
            <li class="nav-item">
              <a class="dropdown-item nav-link" [routerLink] = "'/Pedidos/'"><li class="fas-fa-money-check-alt">Pedidos</li></a>
            </li>
            <li class="nav-item">
              <a class="dropdown-item nav-link" [routerLink] = "'/ListaPedidos/'"><li class="fas-fa-money-check-alt">Lista de Pedidos</li></a>
            </li>
          </ul>


          <ul >
            <li>
              <a [routerLink] = "'/Login/'" ><li *ngIf="!EstaLog()">Login</li></a>
            </li>
            <li >
              <a [routerLink] = "'/Home/'"  (click)="LogOut()"><li *ngIf="EstaLog()" class="fas-fa-money-check-alt">Logout</li></a>
            </li>
          </ul>

        </div>

  </nav>
</div>


  <router-outlet ></router-outlet>