

<div class="contenedor">
  
  <!-- <app-login (newID)="addItem($event)"></app-login>
 -->


  <nav   class="navbar navbar-expand-lg contenedor">
    <div class="container-fluid contenedor">
      <a class="navbar-brand a" [routerLink] = "'/Home/'" >Inicio</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>


      <div class="contenedor-flex">

        <div class="collapse navbar-collapse " id="navbarSupportedContent" >
          <ul class="navbar-nav me-auto mb-2 mb-lg-0" *ngIf="EstaLog()">
            <li class="nav-item">
              <a class="dropdown-item nav-link"  [routerLink] = "'/Cliente/'"><li class="fas-fa-money-check-alt">Cliente</li></a>
            </li>
            <li class="nav-item">
              <a class="dropdown-item nav-link" [routerLink] = "'/ListaCliente/'"><li class="fas-fa-money-check-alt">Lista de Cliente</li></a>
            </li>
            <li class="nav-item">
              <a class="dropdown-item nav-link" [routerLink] = "'/Pedidos/'"><li class="fas-fa-money-check-alt">Pedidos</li></a>
            </li>
            <li class="nav-item">
              <a class="dropdown-item nav-link" [routerLink] = "'/ListaPedidos/'"><li class="fas-fa-money-check-alt">Lista de Pedidos</li></a>
            </li>
          </ul>
        </div>
  
        <div class="collapse navbar-collapse " id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="dropdown-item nav-link" [routerLink] = "'/Login/'" ><li *ngIf="!EstaLog()" class="fas-fa-money-check-alt">Login</li></a>
            </li>
            <li class="nav-item">
              <a class="dropdown-item nav-link" [routerLink] = "'/Home/'"  (click)="LogOut()"><li *ngIf="EstaLog()" class="fas-fa-money-check-alt">Logout</li></a>
            </li>
          </ul>
        </div>

      </div>


    </div>
  </nav>
</div>


  <router-outlet ></router-outlet>