

<div class="contenedor contenedor-formulario" >
    <div class="formulario-centrado" *ngIf="MostrarLogueo">

          <h1>Iniciar Sesion</h1>

          <div class="formulario">
            
            <label class="label-text">Usuario: </label>
            <input class="input" [(ngModel)]="User"/>

            <label class="label-text">Contraseña: </label>
            <input type="password" class="input" [(ngModel)]="Pwd" (keypress)="validarTecla($event)"/>

            <div class="formulario-botones">
              <button class="boton boton-negro boton-login" (click)="Loguear()">Iniciar Sesion</button>
              <!-- <button type="button" class="boton boton-registrar" (click)="NuevoUsuario()">Registrarse</button> -->
            </div>
          </div>

        
    </div>

 

    <div class="card" *ngIf="MostrarRegistro">
        <div class="card-header">
          Registrar Usuario
        </div>
        <div class="card-body">
            <table>
                <tr>
                    <td><label>Nombre: </label></td>
                    <td><input class="form-control" [(ngModel)]="Nombre"></td>
                </tr>
                <tr>
                    <td><label>Usuario: </label></td>
                    <td><input class="form-control" [(ngModel)]="User" required></td>
                </tr>
                <tr>
                    <td><label>Correo Electronico: </label></td>
                    <td><input class="form-control" type="email" [(ngModel)]="Correo"></td>
                </tr>
                <tr>
                    <td><label>Contraseña: </label></td>
                    <td><input class="form-control" type="password" [(ngModel)]="Pwd"></td>
                </tr>
                <tr>
                    <td><label>Telefono: </label></td>
                    <td><input class="form-control" [(ngModel)]="Telefono"></td>
                </tr>
                <button style="margin: 5px;" class="btn btn-primary" type="button" (click)="Registrar()">Registrar</button>
                <button style="margin: 5px;"class="btn btn-danger" type="button" (click)="Regresar()">Regresar</button> 
            </table>

            
            <div *ngIf="spiner">
                <div class="spinner-grow text-primary" role="status">
                    <span class="visually-hidden">Loading...</span>
                  </div>
                  <div class="spinner-grow text-secondary" role="status">
                    <span class="visually-hidden">Loading...</span>
                  </div>
                  <div class="spinner-grow text-success" role="status">
                    <span class="visually-hidden">Loading...</span>
                  </div>
                  <div class="spinner-grow text-danger" role="status">
                    <span class="visually-hidden">Loading...</span>
                  </div>
                  <div class="spinner-grow text-warning" role="status">
                    <span class="visually-hidden">Loading...</span>
                  </div>
                  <div class="spinner-grow text-info" role="status">
                    <span class="visually-hidden">Loading...</span>
                  </div>
                  <div class="spinner-grow text-dark" role="status">
                    <span class="visually-hidden">Loading...</span>
                  </div>
            </div>
        </div>
      </div>
  </div>




  <router-outlet></router-outlet>
  

