
.contenedor{
    
    max-width: 120rem;
    width: 35%;
    margin: 0 auto;
}

.contenedor-formulario{
    margin: 10% auto;
}
.formulario-centrado{

}
.contenedor-formulario h1{
    font-size: 6rem;
    width: 100%;
}
.formulario input{
    width: 100%;
}
.boton-login{
    border-radius: 3rem;
    padding: .5rem 3rem;
    font-size: 2rem;
    font-weight: 600;
    width: 50%;
}
.boton-registrar{
    border: none;
}
.label-text{
    font-size: 2rem;
    margin-bottom: .5rem;
}
.formulario-botones{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

